Package: ${debian.package}
Version: ${debian.package.version}
Section: utils
Architecture: ${debian.architecture}
Priority: optional
Maintainer: ${global.project.maintainer.name} <${global.project.maintainer.email}>
Homepage: ${global.project.url}
Description: ${global.project.description}
