Package: ${executable.name}
Version: ${project.version}
Distribution: stable
Section: utils
Architecture: ${debian.architecture}
Priority: optional
Maintainer: ${maintainer.name} <${maintainer.email}>
Homepage: ${project.url}
Description: ${project.description}
